.imgface_box{
	position: relative;
	overflow: visible;
	height:500px;
}
.imgface_box img#preview{
	position: absolute;
	border: 1px solid #ccc;
	width:180px;
	height: 180px;
}
.imgface_box form{
	position: absolute;
	left: 240px;
	top: 50px;
}
.imgface_box p{
	position:absolute;
	left: 240px;
	top: 80px;

}
.imgface_box form input{
	height: 25px;
	padding: 3px;
	line-height: 20px;
	font-size: 12px;

}

.imgface_box form input#sub{
	position: absolute;
	left: 0px;
	top: 50px;

}